@media (max-width: 1000px){
    .ukraine-container_firstimage,
    .ukraine-container_secondimage{
        display: none;
    }
}

@media (max-width: 480px){

    .ukraine-container{
        width: 100%;
    }

    .navbar-container{
        width: 100%;
        height: 6dvh;
        justify-content: flex-end;
        align-items: center;
        background-color: #fff;
        /* padding-bottom: 23px; */
    }

    .navbar-content1{
        display: none;
    }

    .computer-logo,
    .computer-cart{
        display: none;
    }

    .mobile-logo,
    .mobile-cart,
    .navbar-mobile-menu{
        display: block;
    }

    .navbar-logo{
        flex-basis: 60%;
    }

    .navbar-logo > a{
        z-index: 1;
        justify-self: center;
    }

    .navbar-mobile-menu{
        flex-basis: 20%;
        padding-left: 20px;
    }

    .content2-list-element:nth-child(1),
    .content2-list-element:nth-child(2),
    .content2-list-element:nth-child(3){
        display: none;
    }

    .toolkit-bigbuttons{
        flex-direction: column;
        
    }

    .bigbutton-1,
    .bigbutton-2,
    .bigbutton-3{
        width: 100%;
        margin: 0 0 5dvh 0;
    }

    .bigbutton-3{
        margin-bottom: 30dvh;
    }

    .info1-container{
        flex-direction: column;
        justify-content: space-between;
        height: 70dvh;
        margin-top: 80dvh;
    }

    .info1-content_right > img{
        display: none;
    }

    section.info1-container:nth-child(7){
        margin-bottom: 20dvh;
    }

    .dots-list{
        display: none;
    }

    .benefits-grid{
        grid-template: 55dvh 55dvh 55dvh / 1fr;
    }

    .toolkit-heading{
        font-size: 4vh;
        margin-top: 100dvh;
    }

    .contact-button{
        left: 86%
    }

    .contact-button_img{
        height:7dvh;
    }
}